<div class="container">
  <table class="table table-striped table-hover">
    <thead>
    <tr>
      <th>№</th>
      <th>Прізвище ім'я</th>
      <th>Р.н</th>
      <th>Місто</th>
      <th>ДЮСШ/СДЮШОР</th>
      <th>Тренер</th>
    </tr>
    </thead>
    <tbody class="table_body">
    <tr *ngFor="let athlete of athletes">
      <td>{{ athlete.id }}</td>
      <td>{{ athlete.surname }} {{ athlete.name }}</td>
      <td>{{ athlete.birthDateYear }}</td>
      <td>{{ athlete.city }}</td>
      <td>{{ athlete.school }}</td>
      <td class="table_body_trainer-td">
        <a *ngFor="let trainer of athlete.trainers" [routerLink]="['/trainer', trainer.id]">{{ trainer.name }}</a>
      </td>

    </tr>
    </tbody>
  </table>
  <app-pagination
    [totalPages]="totalPages"
    [itemsPerPage]=size
    (pageChange)="onPageChange($event)">
  </app-pagination>
</div>
